<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Coustard:wght@900&display=swap" rel="stylesheet">
</head>

<div class="new-dog-container">
  <div class="header"> <h2>ADD YOUR DOG!</h2></div>
  <div class= "container">
      <%= simple_form_for (@dog) do |f| %>
      <div class="dogrow">
        <%= f.input :name, label: false, placeholder: "name" %>
        <%= f.input :breed, label: false, placeholder: "breed" %>
      </div>
      <div class="dogrow">
        <%= f.input :size, label: false, placeholder: "size" %>
        <%= f.input :age, label: false, placeholder: "age" %>
      </div>
      <%= f.input :address, label: false, placeholder: "address" %>
      <%= f.input :description, label: false, placeholder: "tell us about your furry lil' dude!" %>
       <div class="dogrow">
        <label class="photo-label"></label>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit %>

       </div>
      <% end %>

</div>


