

<div class="show-container">
  <div class = "img-container">
    <div class="feature-img">
      <% if @dog.photos.attached? %>
        <%= cl_image_tag @dog.photos[0].key, :height=>200, :width=>300, :crop=>"fill" %>
        <% else %>
        <%= image_tag "French-Bulldog.jpg" %>
      <% end %>
    </div>
    <div class="show-imgs">
      <% if @dog.photos.attached? %>
          <% @dog.photos.first(5).drop(1).each do |photo| %>
            <% if photo.present? %>
              <div class="show-img"><%= cl_image_tag photo.key, :height=>160, :width=>300, :crop=>"fill" %></div>
            <% else %>
              <div class="show-img"><%= image_tag "French-Bulldog.jpg" %></div>
            <% end %>
          <% end %>
      <% else %>
        <div class="show-img"><%= image_tag "French-Bulldog.jpg" %></div>
      <% end %>
    </div>
  </div>
  <div class="show-content">
    <div class="show-headers">
      <h2><%= @dog.name %></h2>
      <% if current_user != @dog.user.id %>
          <a href=<%="/dogs/#{@dog.id}/bookings/new"%> class="btn-blue">Book this dog!</a>
        <% else %>
          <a href=<%="/dogs/#{@dog.id}/edit"%> class="btn-blue">Edit</a>
      <% end %>
    </div>
    <div class="show-body">
      <h5><%= @dog.breed %></h5>
      <h5>Age : <%= @dog.age %></h5>
      <p><%= @dog.description %></p>
  </div>
  <a href=<%="/dogs/#{@dog.id}/edit"%> class="btn-blue">Edit</a>
</div>
