<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Coustard:wght@900&display=swap" rel="stylesheet">
</head>

<div class="show-container">
  <div class = "img-container">
    <div class="feature-img"><%= image_tag "dog1-1.jpg" %></div>
    <div class="show-imgs">
      <div class="show-img"><%= image_tag "dog1-2.jpg" %></div>
      <div class="show-img"><%= image_tag "dog1-3.jpg" %></div>
      <div class="show-img"><%= image_tag "dog1-4.jpg" %></div>
      <div class="show-img"><%= image_tag "dog1-5.jpg" %></div>
    </div>
  </div>
  <div class="show-content">
    <div class="show-headers">
      <h2><%= @dog.name %></h2>
      <% if current_user != @dog.user.id %>
        <a href=<%="/dogs/#{@dog.id}/bookings/new"%> class="btn-blue">Book this dog!</a>
        <% else %>
        <a href=<%="/dogs/#{@dog.id}/edit"%> class="btn-blue">Edit</a>
        <% end %>
    </div>
    <div class="show-body">
      <h5><%= @dog.breed %></h5>
      <h5>5 years old</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis erat eu eros ultrices ultrices. Sed eros velit, consectetur at lacus vel, gravida auctor massa. In hac habitasse platea dictumst. Morbi turpis urna, aliquet non eros et, molestie laoreet ante. Integer felis massa, vehicula eget bibendum quis, hendrerit eget enim. In imperdiet ultricies ultricies. Donec dignissim eu neque vel dictum. Nullam eget viverra dui. Vestibulum eleifend condimentum ultrices. Sed laoreet purus id tellus mattis placerat. Maecenas scelerisque ante lacus, in fermentum metus pretium ac. Phasellus laoreet massa neque, sed sodales nisl volutpat at.</p>
  </div>

</div>

<%# <% if current_user == @dog.user_id %>
        <%# <a href=<%="/dogs/#{@dog.id}/bookings/new"%>
      <%# <% else %>
        <%#
      <%# <% end %>
