<div class="main">
  <h1>DAWG Dashboard</h1>
  <h2 style="font-family: 'Fredoka One', cursive;">Welcome, <%= current_user.name %>!</h2>

  <div class="title-container d-flex">
    <div>
      <h4 style="text-align: left; font-family: 'Fredoka One', cursive">Pending Requests</h4>
    </div>
  </div>

  <div class="container">
    <div class="pending-requests">
      <% @owner_bookings.each do |booking| %>
        <% if booking.status == true %>
<!-- accepted -->
          <div class="request-pending">
            <div class="d-flex">
              <div class="dog-image ml-5">
                <h6><%= booking.dog.name %></h6>
              </div>
              <div class="request-body">
                <div><h5 class="ml-3 mt-3" style="font-weight: bold"><%= booking.user.name %></h5></div>
                <div><p class="ml-3"><%= booking.description %></p></div>
              </div>
            </div>
            <div class="d-flex p-5">
              <div class="icon-holder-accepted">
                <%= image_tag "noun_accept_856695.png", class: "status-icon"%>
              </div>
            </div>
          </div>
<!-- declined -->
        <% elsif booking.status == false %>
          <div class="request-pending">
            <div class="d-flex">
              <div class="dog-image ml-5">
                <h6><%= booking.dog.name %></h6>
              </div>
              <div class="request-body">
                <div><h5 class="ml-3 mt-3" style="font-weight: bold"><%= booking.user.name %></h5></div>
                <div><p class="ml-3"><%= booking.description %></p></div>
              </div>
            </div>
            <div class="d-flex p-5">
              <div class="icon-holder-declined">
                <%= image_tag "noun_reject_856692.png", class: "status-icon"%>
              </div>
            </div>
          </div>
<!-- pending -->
        <% else %>
          <div class="request-pending">
            <div class="d-flex">
              <div class="dog-image ml-5">
                <h6><%= booking.dog.name %></h6>
              </div>
              <div class="request-body">
                <div><h5 class="ml-3 mt-3" style="font-weight: bold"><%= booking.user.name %></h5></div>
                <div><p class="ml-3"><%= booking.description %></p></div>
              </div>
              <div class="d-flex p-5">
                <%= link_to "Accept", booking_accept_path(booking), method: :patch, class: "btn-blue mr-3" %>
                <%= link_to "Decline", booking_reject_path(booking), method: :patch, class: "btn-blue mr-3" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>

    <div class="my-dogs">
      <% if current_user.dogs == nil %>
        <h1>hello</h1>
      <% else %>
        <% current_user.dogs.each do |dog| %>
          <div class="dog">
            <%= image_tag "dog1-3.jpg"%>
            <%= link_to dog.name, dog_path(dog), class: "dog-name" %>
            <h2 class="dog-breed"> <%= dog.breed %> </h2>
          </div>
        <% end %>

      <% end %>
    </div>
</div>
