
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
    <div class="dawg-logo-icon">
    <%= link_to root_path, class: "navbar-icon" do %>
      <%= image_tag "noun_puppy sunglasses_2018663.png" %>
    <% end %>
    </div>

    <div>
      <h1 class="logo-name">DAWG</h1>
    </div>
  </div>



  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group no-bmargin">
    <div>
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    </div>
    <div>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
    </div>
  </div>
<% end %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Dashboard", bookings_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Add a dog", new_dog_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "noun_area_605351.png", class: "avatar-user", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%= image_tag "noun_Dropdown_1871189.png", class: "avatar-carrot", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
