<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="dawg-logo-icon">
  <%= link_to "#", class: "navbar-icon" do %>
    <%= image_tag "noun_puppy sunglasses_2018663.png" %>
  <% end %>
  </div>

  <div>
    <h1 class="logo-name">DAWG</h1>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Dashboard", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Add a dog", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "noun_area_605351.png", class: "avatar-user", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <%= image_tag "noun_Dropdown_1871189.png", class: "avatar-carrot", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Sign Out", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

